@import '../../styles/variables.scss';

.aci-Gallery {
  text-align: center;
  word-wrap: break-word;
  padding: 150px 5%;
  background-color: $cl-black;

  &__image {
    position: relative;
    min-height: 100px;
    min-width: 300px;
    border: solid 0.5px $cl-black;
    cursor: pointer;

    @media all and (max-width: $screen__bp-md *1px) {
      margin: 15px 0;
    }

    &-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: $cl-highlight-dark;
    }

    &:hover &-overlay {
      opacity: 0.5;
    }

    &-overlay-text {
      color: $cl-primary;
      font-size: $font-size-large;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }
  }

  &__title {
    font-size: $font-size-title-2;
    text-transform: uppercase;
    padding-bottom: 65px;
  }
}
