// Screen width break points modifier
$screen__bp-sm: 360;
$screen__bp-md: 768;
$screen__bp-lg: 1024;
$screen__bp-xl: 1200;

// Fonts
$font-family-base: 'Trispace';
$font-size-base: 12px;
$font-size-base-sm: 10px;
$font-size-base-md: 11px;
$font-size-small: 16px;
$font-size-medium: 18px;
$font-size-large: 30px;
$font-size-title: 50px;
$font-size-title-2: 48px;
$font-size-title-3: 30px;

// Colors
$cl-primary: #f6f6f6;
$cl-primary-dark: #d6d6d6;
$cl-highlight-dark: #343434;
$cl-black: #000000;

// Sizes
$footer-height: 100px;
