// Screen width break points modifier
$screen__bp-sm: 360;
$screen__bp-md: 768;
$screen__bp-lg: 1024;
$screen__bp-xl: 1200;

// Fonts
$font-family-base: 'Source Sans Pro';
$font-family-title: 'Montserrat';
$font-size-base: 14px;
$font-size-medium-small: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-title: 44px;
$font-size-navbar: 40px;

// Colors
$cl-primary: #ffffff;
$cl-primary-dark: #d6d6d6;
$cl-black: #000000;

// Sizes
$footer-height: 100px;
