// Screen width break points modifier
$screen__bp-sm: 360;
$screen__bp-md: 768;
$screen__bp-lg: 1024;
$screen__bp-xl: 1200;

// Fonts
$font-family-base: 'Montserrat';
$font-family-title: 'Source Sans Pro';
$font-size-base: 12px;
$font-size-small: 1.2em;
$font-size-medium: 1.5em;
$font-size-large: 3em;
$font-size-title: 5em;
$font-size-title-2: 4em;
$font-size-title-3: 2.5em;

// Colors
$cl-primary: #f6f6f6;
$cl-primary-dark: #d6d6d6;
$cl-highlight-dark: #343434;
$cl-black: #000000;

// Sizes
$footer-height: 100px;
