@import '../styles/variables.scss';

.aci-Section {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $cl-black;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  padding: 80px;

  &__first {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: relative;
    background: transparent;
    text-align: center;
    align-content: center;

    &-title {
      font: 400 $font-size-title $font-family-title;
      letter-spacing: 0.1em;
    }

    &-subtitle {
      font-weight: 300;
      font-size: $font-size-large;
    }

    &-address {
      font-size: $font-size-small;
      margin-top: 30px;
    }

    &-scroll-down {
      position: absolute;
      bottom: 25px;
      box-sizing: border-box;

      :hover {
        color: $cl-highlight-dark;
      }
    }
  }

  &__artist {
    height: 300px;
  }

  &__faq {
    height: 300px;
    background-color: transparent;
  }

  &__contact {
    height: 300px;
  }
}
