@import '../styles/variables.scss';

.aci-Section {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  word-wrap: break-word;

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  padding: 150px 10%;

  background-color: $cl-black;

  &__home {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: relative;
    background: transparent;

    &-title {
      font-size: $font-size-title;
      text-transform: uppercase;
    }

    &-subtitle {
      font-weight: 300;
      font-size: $font-size-large;
    }

    &-artist {
      font-size: $font-size-small;
      margin-top: 30px;
    }

    &-scroll-down {
      position: absolute;
      bottom: 25px;
      box-sizing: border-box;

      :hover {
        color: $cl-highlight-dark;
      }
    }
  }

  &__artist {
    &-row {
      padding-bottom: 65px;
    }

    &-title {
      font-size: $font-size-title-2;
    }

    &-image {
      max-width: 240px;
      max-height: 360px;
    }

    &-gallery-link {
      font-size: $font-size-small;

      button {
        margin: 10px;
      }
    }

    &-name {
      font-size: $font-size-title-3;
    }

    &-bio {
      font-size: $font-size-medium;
      text-align: center;
    }
  }

  &__contact {
    font-size: $font-size-small;
    background-color: rgba($color: $cl-black, $alpha: 0.8);

    &-title {
      font-size: $font-size-title-2;
      padding-bottom: 65px;
    }

    &-info {
      align-self: flex-start;
      text-align: left;
      padding-bottom: 20px;

      &-title {
        font-size: $font-size-title-3;
        padding: 20px 0;
      }

      &-value {
        font-size: $font-size-medium;
        padding-bottom: 10px;
        word-break: break-all;
      }
    }

    &-form {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box; /* Opera/IE 8+ */
      text-align: left;

      &-submit-button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }

      &-row {
        margin-bottom: 15px;
      }
    }
  }

  &__location {
    font-size: $font-size-small;

    &-title {
      font-size: $font-size-title-2;
      padding-bottom: 65px;
    }

    &-map {
      align-self: flex-start;

      &-wrapper {
        overflow: hidden;
        position: relative;
        height: 500px;

        iframe {
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          position: absolute;
        }
      }
    }
  }
}
