@import '../../styles/variables.scss';

.aci-Header {
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  top: 0;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  background: transparent;
  z-index: 900;

  &__logo {
    align-self: center;
    padding-left: 30px;
  }

  #nav {
    display: block;
    align-self: center;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: $font-size-medium;

    .special {
      padding: 0;
    }

    .menuToggle {
      position: relative;
      display: flex;
      box-sizing: border-box;
      display: block;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      white-space: nowrap;

      .menu {
        height: 100%;
        width: 300px;
        max-width: 80%;
        position: fixed;
        top: 0;
        right: 0;
        padding: 60px 30px;
        box-sizing: border-box;
        transform: translateX(300px);
        overflow-y: auto;
        transition: transform 0.5s ease;
        -webkit-overflow-scrolling: touch;
        background: $cl-black;
        color: $cl-primary;
        border-left: 1px solid $cl-highlight-dark;
        z-index: 901;

        a.close {
          top: 0;
          right: 0;
          position: absolute;
          padding: 30px;
          box-sizing: border-box;
          display: block;
        }
      }

      .menu-open {
        transform: translateX(0);
      }

      li:first-child {
        margin-left: 0;
        border-top: 0 !important;
      }

      li {
        display: block;
        border-top: 1px solid $cl-highlight-dark;
        padding-top: 15px;

        a {
          display: block;
          border: 0;
          outline: 0;
          text-transform: uppercase;
        }
      }
    }
  }
}
