@import '../../styles/variables.scss';

.aci-Header {
  background: $cl-black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 100px;
  z-index: 9000;
  font-size: $font-size-large;
}
