@import '../../styles/variables.scss';

.aci-Footer {
  padding: 50px 5%;
  background: $cl-black;
  word-wrap: break-word;
  text-align: center;

  &__section {
    padding-bottom: 65px;
  }

  &__section-title {
    font-size: $font-size-title-3;
    text-transform: uppercase;
  }

  &__section-value {
    font-size: $font-size-small;
    word-break: break-all;
  }

  &__section-social-media-link {
    padding: 0 10px;
  }

  &__copyright {
    margin-top: 50px;
  }
}
