@import '../../styles/variables.scss';

.aci-Footer {
  padding: 50px 15%;
  background: $cl-black;
  word-wrap: break-word;
  text-align: center;

  &__section {
    padding-bottom: 30px;
  }

  &__section-title {
    font: 400 $font-size-title-3 $font-family-title;
    text-transform: uppercase;
  }

  &__section-value {
    font-size: $font-size-small;
  }

  &__section-social-media-link {
    padding: 0 10px;
  }

  &__copyright {
    margin-top: 50px;
  }
}
