@import '../../styles/variables.scss';

.aci-Faq {
  text-align: center;
  word-wrap: break-word;
  padding: 10%;
  background-color: $cl-black;

  &__content {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    padding: 20px 0;
    align-self: flex-start;

    &-question {
      font-size: $font-size-large;
      font-weight: 400;
      padding-bottom: 10px;
      text-align: left;
    }
    &-answer {
      font-size: $font-size-medium;
      text-align: justify;
    }
  }

  &__title {
    font: 300 $font-size-title $font-family-title;
    text-transform: uppercase;
    padding-bottom: 5%;
  }
}
